<p>Albom List</p><br>
{{#each albums}}
<p style="border: 1px solid black;">{{title}}</p>
{{/each}}
<br>
{{!-- {{#each photos}}
<div style="border: 1px solid black;">
<img src=`{{link}}` alt="...">
<p>{{name}}</p>
</div> --}}
{{!-- {{/each}} --}}

