<div id="containerForLogin">
  <div class="row mb-3 mt-3">
    <div class="col-sm-10 mt-3">
        <form id="regisForm" method="post">
      <input type="text" name="name" class="form-control" placeholder="Enter your email" id="inputEmail3">
     <input type="text" name="email" class="form-control" placeholder="Enter your name" id="inputEmail3">
      <input type="text" name="password" class="form-control" placeholder="Enter your password" id="inputPassword3">
  <br>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
 </div>
  </div>
