body{
  background: url(https://images.unsplash.com/photo-1637150899351-0ce1779710c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2048&q=80);
  background-repeat: no-repeat;
}

#regisForm{
  height: 300px;
  width: 300px;

  display: flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction: column;
  flex-wrap: nowrap;
}
#containerForLogin{
  display: flex;
  align-items:flex-start;
  justify-content:space-around;
}
